<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
<div th:replace="common/header :: navbar"/>
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
            <div class="row">
                <div class="col-xs-8">
                    <h2 class="section-headline"><span>User Account</span></h2>
                </div>
                <div class="col-xs-4">
                    <img src="/image/logo.png" class="img-responsive"/>
                </div>
            </div>
            <hr style="position: absolute; width:100%; height:6px; background-color: #333; z-index: -1; margin-top: -80px;"/>
            <img class="img-responsive" src="/image/wood.png" style="margin-top: -75px;"/>
    </div>
    <div class="row" style="margin-top: 120px;">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Nav tabs category -->
            <ul class="nav nav-tabs faq-cat-tabs">
                <li><a href="#tab-1" data-toggle="tab"><span
                        style="color:red;">Create new account</span></a></li>
                <li class="active"><a href="#tab-2" data-toggle="tab"><span style="color:red;">Log in</span></a></li>
                <li><a href="#tab-3" data-toggle="tab"><span style="color:red;">Forget Password</span></a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content faq-cat-content">
                <div class="tab-pane fade" id="tab-1">
                    <div class="panel-group">
                        <div class="panel panel-default panel-faq" style="border: none;">

                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <form th:action="@{/newUser}" method="post">
                                    <div class="form-group">
                                        <label for="newUsername">Username *</label>&nbsp;<span th:if="${usernameExists}" style="color:red;">Username already exists. Choose a different one.</span>
                                        <input required="required" type="text" class="form-control" id="newUsername" name="username"/>
                                        <p style="color: #828282;"> Enter your username, special charaters are not
                                            allowed.</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address *</label>&nbsp;<span th:if="${emailExists}" style="color:red;">Email already exists. Choose a different one.</span>
                                        <input required="required" type="email" class="form-control" id="email" name="email"/>
                                        <p style="color: #828282;"> A valid e-mail address. All e-mails from the
                                            system will be sent to this address. The e-mail address is not made
                                            public and will only be used if you wish to receive a new password or
                                            wish to receive certain news or notifications by e-mail.</p>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Create new account</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="tab-pane active in fade" id="tab-2">
                    <div class="panel-group">
                        <div class="panel panel-default panel-faq" style="border: none;">

                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <form>
                                    <div class="form-group">
                                        <label for="username">Username *</label>
                                        <input type="text" class="form-control" id="username"/>
                                        <p style="color: #828282;"> Enter your username</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Password *</label>
                                        <input type="password" class="form-control" id="password"/>
                                        <p style="color: #828282;"> Enter the password that accompanies your
                                            username</p>
                                    </div>

                                    <button type="submit" class="btn btn-default">Log in</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="tab-3">
                    <div class="panel-group">
                        <div class="panel panel-default panel-faq" style="border: none;">

                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <form th:action="@{/resetPassword}" method="post">
                                    <div class="form-group">
                                        <label for="recoverEmail">Your Email *</label>
                                        <input type="text" class="form-control" id="recoverEmail" name="email"/>
                                        <p style="color: #828282;"> Enter your registered email address.</p>
                                    </div>

                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="common/header :: body-bottom-scripts"/>

</body>
</html>